th{
    background-color: #A9A9A9;
    color: white;
  }
table, th, td {
    padding: 10px;
      border: 2px solid #A9A9A9;
      border-color: solid black;
      border-collapse: collapse;
  }
  td {border: 1px #DDD solid; padding: 5px; cursor: pointer;}
.selected {
    background-color: yellowgreen;
    color: #FFF;
}
#Eingabewerte{
    display: none;
}
#FehlerDiv1{
    display: none;
}