th{
    background-color: #A9A9A9;
    color: white;
  }
table, th, td {
    padding: 10px;
      border: 2px solid #A9A9A9;
      border-color: solid black;
      border-collapse: collapse;
  }
  td {border: 1px #DDD solid; padding: 5px; cursor: pointer;}

.selected {
    background-color: yellowgreen;
    color: #FFF;
}
#Eingabewerte{
    display: none;
}
#FehlerDiv1{
    display: none;
}
section{
    font-size: large;
    color: white;
}
#footer{
    background-color: rgb(49, 46, 46);
}
#ueberschrift{
    font-size: larger;
    color: yellowgreen;
}
.container-main h1{
    color: yellowgreen;
}

@media(max-width: 769px){
    tr{
       font-size: 30%;
    }
   }

@media (min-width: 770px) and (max-width: 1019px){
    tr{
       font-size: 45%;
    }
   }

@media (min-width: 1020px) and (max-width: 1260px){
    tr{
       font-size: 60%;
    }
   }

@media (min-width: 1260px) and (max-width: 1499px){
    tr{
       font-size: 75%;
    }
   }

@media (min-width: 1500px) and (max-width: 1669px){
 tr{
    font-size: 90%;
 }
}