#map { 
    height: 400px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15px; 
    text-align: center;
}
.container-main h1{
    color: yellowgreen;
}
section{
    font-size: large;
    color: white;
}
#footer{
    background-color: rgb(49, 46, 46);
}
#ueberschrift{
    font-size: larger;
    color: yellowgreen;
}