div{
    color: rgb(49, 46, 46);
    text-align: center;
    font-size:x-large;
}
span{
    color: yellowgreen;
    font-size: xx-large;
}
h1{
    color: yellowgreen;
    text-align: center;
}
#IFGIimg{
    height: 100px;
    float: right;
    border: 0px;
    margin: 0px;
    position: absolute;
}
p{
    text-align: center;
    font-size: large;
    color: rgb(49, 46, 46); 
}

#header-nav{
    background-color: rgb(49, 46, 46);
    height: 57px;
}
#a-nav{
    padding-top: 0px;
    color: white;
}
#a-nav:hover{
    background-color: yellowgreen;
    color: rgb(49, 46, 46);
}
.active {
    background-color: yellowgreen;
  }