.button{
    background-color: yellowgreen;
    color:white;
    border: none;
    text-align: center;
    padding: 15px 32px;
    cursor: pointer;
    font-size: large;
}
p{
    color: rgb(49, 46, 46);
    text-align: center;
    font-size:x-large;
}
h1{
    color: yellowgreen;
    text-align: center;
}
#IFGIimg{
    height: 100px;
    float: right;
    border: 0px;
    margin: 0px;
    position: absolute;
}
.container-main #SubmitButtonDiv{
    text-align: center;
}
#map { 
    height: 550px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px; 
}
th{
    background-color: #A9A9A9;
    color: white;
  }
table, th, td {
    padding: 10px;
      border: 2px solid #A9A9A9;
      border-color: solid black;
      border-collapse: collapse;
  }
  td {border: 1px #DDD solid; padding: 5px; cursor: pointer;}
.selected {
    background-color: yellowgreen;
    color: #FFF;
}